.movie-list-container ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}

.movie-list-container li {
	height: 175px;
	width: 175px;
	background-color: lightblue;
	margin: 5px;
	padding: 15px;
	border-radius: 10px;

	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
    flex-direction: column;
	text-align: initial;
}

.movie-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.movie-title {
	color: darkslategrey;
	font-weight: 600;
	font-size: 14px;
	margin: 0px;
}

.movie-year {
	color: rgb(72, 61, 139);
	font-size: 12px;
	font-weight: 500;
	margin: 5px 0px;
}

.playlist-button {
	padding: 6px;
	border-radius: 5px;
	color: darkslategray;
	font-weight: 600;
}

@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@media (prefers-reduced-motion: no-preference) {
  li {
	animation-name: fade-in;
	animation-duration: 1s;
  }
}